@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 10px;
}

body{
  font-family: 'Poppins', sans-serif;
}

#person {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-black);
}


@keyframes written_text {
  100% {
    color: var(--color-white);
  }
}

:root {
  --color-white: #fff;
  --color-ciano: #00FFFF ;
  --color-black: #1c1c1c;
  --color-marinha: #7FFFD4;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  background: "transparent";
  transition: all .3s ease-out;
  z-index: 2;
}

.header-title{
  text-decoration: none;

}

.header-title h1{
  color: var(--color-white);

  font-size: 2rem;
  transition: opacity .3 ease;
}

.header-title h1:hover{
  opacity: .8;
  
}

.nav-bar{
  max-width: 350px;
  width: 100%;
}

.nav-bar ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar ul li{
  list-style: none;
}

.nav-bar ul li a{
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 700;

}








.person-name{
  margin-top:11rem;
}

.person-content{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-black)
}

.person-content div h1 {
  position: relative;
  padding: 0px 4px;
  font-size: 4.5rem;
  line-height: 6rem;
  color: transparent;
  animation: written_text .5s ease forwards;
  width: fit-content;
}


.person-content div h1:nth-child(1){
    animation-delay: 1s;
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;
}
.person-content div h1:nth-child(3){
  animation: written_text_name .5s ease forwards;
  animation-delay: 3s;
}

.stacks-content {
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-top: 6rem;
}

.stacks-content h3{
  color: var(--color-white);
  font-size: 1.15rem;
  margin-left: 20px;
}

.stacks ul li img {
  width: 30px;
  height: auto; 
  transition: transform .3s ease;
}

.stacks{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stacks ul li {
  display: flex;
  align-items: center;
  position: relative;

  margin: 10px;
  padding: 10px;
  list-style: none;
}


.stacks ul li div img:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.stacks ul li div:hover::after{
  content: attr(data);
  position: absolute;

  top: 50px;
  left: 10px;

  width: 20px;
  height: 20px;

  color: var(--color-white);
}


.person-background {
  height: 100vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-image: url(./img/VG02-2048x1152.png);
  background-size: cover;
  background-position: top center;
  z-index: 1;
}


.links a img:hover{
  transform: scale(1.15);
  filter: brightness(1);
}

.person-background::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  background: linear-gradient(270deg, transparent 30% , var(--color-black));
}

.person-content div h1 span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  animation: written_text_box 1s ease;
  background-color: var(--color-ciano);
  animation-delay: .5s;
  
}
/*.wrapper-profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px;
  margin: 20px 15px;
  border-radius: 50%;
  background: 
  radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
  radial-gradient(#000 68% ,transparent 0),
  linear-gradient(to top right , #ffa500 0% , #ff1493 100%)
  ;

}*/

.wrapper-profile-photo img {
  width: 100%;
  border-radius: 50%;
}


.person-content div h1:nth-child(1) span {
  animation-delay: .5s;
  color: #00FFFF;
}
.person-content div h1:nth-child(2) span {
  animation-delay: 1.5s;
  color: #00FFFF;
}
.person-content div h1:nth-child(3) span {
  animation-delay: 2.5s;
  color: #00FFFF;
}

/* final primeira página */


#about{
  height: 100vh;
  width: 100%;
  background: var(--color-black);
  
  display: flex;
  color: var(--color-white);
}

.background-about{
  width: 50%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: 
  linear-gradient(0deg, transparent 30% ,var(--color-black)),
  linear-gradient(145deg, transparent 26% ,var(--color-black));
}

.img-wrapper img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.box-about{
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;
  padding: 3rem;

}

.section-subtitle h2 p {
  display: inline-block;
  font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span{
  padding: 3px 5px;
  border-radius: 4px;

  color: var(--color-black);
  background: var(--color-ciano);
}

.box-about h3{
  margin: 2rem;
  font-size: 2rem;
}

.box-about h3 p {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  width: fit-content;
  color: var(--color-black);
  background: var(--color-ciano);
}

.box-about h4 {
  margin: 1rem 3rem ;
  font-size: 1.5rem;
}

.links a img{
  width:40px;
  height: 30px;
  margin: 10px;
  filter: brightness(.7);
  transition: all .3s ease;
}

/*final do sobre */

#projects{
  height: 100vh;
  width: 100%;
  background: var(--color-black);

  display: flex;
  flex-direction: column;
}

.projects-title h2{
  margin: 3rem;
  padding: 1rem;
  
  
  font-size: 3rem;
  color:  var(--color-white);
}

/*.wrapper-projects{
  display: flex;
  margin-top: 2rem;
  height: 500px;
  
  
  align-items: center;
  justify-content: center;
  flex-direction: row;
}*/

.container-projects {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper{
  height: 100%;
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  margin-top: 2rem;
  height: 500px;
  
}

.card-project{
  /*width: 320px;
  height: 450px;*/

  height: 100%;
  width: 100%;

  padding: 30px 20px 20px;
 /* margin: 0px 10px;*/
  position: relative;
  background: var(--color-white);

  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.card-project::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 40%;
  width: 100%;

  z-index: -1;


  background: #00FA9A;
  border-radius: 20px 20px 0px 0px ;
}

.image-project{
  max-height: 240px;
  max-width: 250px;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;

  height: 100%;
  width: 100%;

  border: 4px solid #FF00FF;
  position: relative;

  
  
}

.image-project a img{
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 2px solid var(--color-white);

  object-fit:cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s ease-out;
  cursor: pointer;
}

/*.content-project{
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  z-index: 1;
}*/

.image-project img:hover{
  transform: scale(1.1);
  
}

.card-project span{
  color: var(--color-black);
  font-weight: bold;
  font-size: 1.7rem;

  margin: .75rem auto .5rem auto;
}

.card-project p{
  color: #3d3d4b;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0rem .75rem ;
}

.cta-project{
  width: 200px;
  margin-trim: auto auto 15px auto ;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-project a{
  padding: 5px 16px;
  font-size: 1.25rem;
  color: var(--color-black);
  background-color: #FF00FF;

  border-radius: 10px;
  text-decoration: none;
  transition: opacity .3s ease;
}

.cta-project a:hover{
  opacity: .7;

}

/*fim projects*/

#contacts{
  display: flex;
  flex-direction: column;

  height: 40vh;
  width: 100%;
  background: var(--color-black);

}

.contact-icon-content h2{
  margin: 3rem 3rem 3rem 0rem;
  padding: 1rem 1rem 1rem 0rem ;
  font-size: 3rem;

  color: var(--color-white);
}

.contact-iconns-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--color-white);
}

.contact-icon-content{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0rem 3rem ;
  padding: 1rem;
}

.contact-icon{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 2rem;
  background: var(--color-white);
  padding: 1rem;
  border-radius: 50%;
}

.contact-icon i {
  font-size: 2rem;
  color:#0000CD;
}

.contact-info span{
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-info p{
  margin: .25rem 0rem;
}

.contact-info a{
  display: block;
  margin: .25rem 0rem;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.1rem;

}
.contact-info a:hover{
  transition: color .3s ease;
  color: #0000CD;
}

#footer{
  
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background: #191919;
  color: var(--color-white);
}


.container-footer{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  color: var(--color-white);

}

@keyframes written_text_name {
  100% {
    color: var(--color-ciano);
  }
}
@keyframes written_text {
  100% {
    color: var(--color-white);
  }
}
@keyframes written_text_box {
  50% {
    width: 100%;
    left: 0;
  }

  100%{
    width: 0;
    left: 100%;
  }
}
